@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.load_contain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden; /* Masque le débordement horizontal */
  box-sizing: border-box; /* Inclut padding/border dans la largeur */
  background: linear-gradient(-45deg, #ff79da, #9356dc, #ff79da, #99e2d0);
  /*background-color: rgba(41, 39, 40, 1);  fond semi-transparent */
  backdrop-filter: blur(5px);
  /* effet de flou */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: hideLoader 6s forwards;
}

/* Animation pour masquer le conteneur */
@keyframes hideLoader {
  0% {
    opacity: 1;
    visibility: visible;
  }

  50% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}


#loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  font-family: 'Shrikhand';
  font-weight: 900;
  background: conic-gradient(#99E2D0 0 33%,
      #9356DC 33% 66%,
      #FF79DA 66%);
  background-size: 200% 200%;
  animation: animateBackground 3.5s ease-in-out infinite;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes animateBackground {
  25% {
    background-position: 0 100%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0 0;
  }
}