/*Mobile First*/
.fleche {
  position: absolute;
  top: 25px;
  left: 30px;
}

.illustration img {
  object-fit: cover;
  width: 100%;
  height: 275px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: -70px;
  /* remonte l’élément */
  position: relative;
  z-index: 2;
  background-color: #F6F6F6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
}

h3 {
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

h3 span {
  border-bottom: #99e2d0 3px solid;
  padding-bottom: 0.3rem;
}

.title {
  margin: 17px 0 10px 40px;
  font-size: 1.4rem;
}

.btn {
  padding: 0.7rem 3rem;
}

/*coeur*/
.heart {
  top: 15px;
  right: 50px;
}

.container_entrees,
.container_plats,
.container_desserts {

  margin: 60px 20px 20px 20px;
}

.entrees,
.plats,
.desserts {
  list-style: none;
  padding: 0;
}

.entree,
.plat,
.dessert {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
  gap: 8px;

  overflow: hidden;
  transition: all 0.4s ease;
}

.overlay {
  position: absolute;
  top: 0;
  right: -80px;
  width: 80px;
  height: 100%;
  background-color: #99e2d0;
  transition: right 0.4s ease;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

}


.titre {
  grid-column: 1;
  grid-row: 1;
  font-size: 18px;
  overflow: hidden;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.accompagnement {
  grid-column: 1;
  grid-row: 2;
  font-weight: 300;
  font-size: 15px;
  font-size: 14px;
  color: #555;
  margin: 6px 0 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prix {
  position: absolute;
  z-index: 2;
  transition: transform 0.4s ease;
  bottom: 16px;
  right: 40px;
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.checkbox {
  background-color: #99e2d0;
  border-radius: 50%;
  padding: 8px;
  z-index: 2;
  opacity: 0;
  transition: transform 0.4s ease 0.2s, opacity 0.4s ease 0.2s;

  /*Centrage dans l’overlay */
  display: flex;
  align-items: center;
  justify-content: center;

  /*Rotation */
  transform: rotate(-180deg);
}

.checkbox i {
  color: white;
  font-size: 18px;
}

/* Animation au survol */
.anim:hover .overlay {
  right: 0;
}

.anim:hover .prix {
  transform: translateX(-50px);
}

.anim:hover .checkbox {
  transform: rotate(0deg);
  opacity: 1;
}

.anim:hover .accompagnement {
  max-width: calc(100% - 100px);
}