// ========================================
// MAIN SCSS FILE
// ========================================

// Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';

// Base
@import 'base/reset';
@import 'base/typography';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Components
@import 'components/buttons';
@import 'components/heart';
@import 'components/loader';

// Pages
@import 'pages/home';
@import 'pages/restaurant';
