footer {
  display: flex;
  flex-direction: column;
  background: $color-bg-dark;
  color: $color-white;
  padding: 22px 25px;
  
  @include tablet { // Remplace @media (min-width: 768px)
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 25px;
    overflow-x: hidden;
  }
  
  @include desktop { // Remplace @media (min-width: 1024px)
    gap: 40px;
  }
}

.footer__logo {
  width: 139px;
  height: 27px;
  margin-right: 50px;
  
  @include tablet {
    order: 1;
    margin-right: 0;
  }
}

.footer__link {
  padding-left: 0;
  
  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    
    i {
      font-size: 18px;
      width: 20px;
      text-align: center;
    }
  }
  
  a {
    color: $color-white;
    
    &:hover {
      opacity: 0.8;
    }
  }
  
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  @include desktop {
    gap: 24px;
  }
}
